<%- include("header"); %>

<!-- home section starts -->

<section class="home" id="home">
  <div class="home-slider swiper">
    <div class="swiper-wrapper wrapper">
      <div class="swiper-slide slide">
        <div class="content">
          <span>Our Special Dish</span>
          <h3>Seafood Salad</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quae
            sint voluptates dolorum! Similique, ducimus.
          </p>
          <a href="/menu" class="btn">explore more ...</a>
        </div>
        <div class="image">
          <img src="/images/home-img-1.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide slide">
        <div class="content">
          <span>Our Special Dish</span>
          <h3>Hamburger</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quae
            sint voluptates dolorum! Similique, ducimus.
          </p>
          <a href="/menu" class="btn">explore more ...</a>
        </div>
        <div class="image">
          <img src="/images/home-img-2.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide slide">
        <div class="content">
          <span>Our Special Dish</span>
          <h3>Miraflores</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quae
            sint voluptates dolorum! Similique, ducimus.
          </p>
          <a href="/menu" class="btn">explore more ...</a>
        </div>
        <div class="image">
          <img src="/images/home-img-3.png" alt="" />
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- home section ends -->

<!-- dishes section starts -->

<section class="dishes" id="dishes">
  <h3 class="sub-heading">checkout these</h3>
  <h1 class="heading">Our bestsellers</h1>

  <div class="box-container">
    <% for(var i = 0 ; i < 6 ; i++){ %>
    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <div class="image">
        <img src="<%= items[i].imageLink %>" alt="" />
      </div>
      <h3><%= items[i].name %></h3>
      <div class="stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-alt"></i>
      </div>
      <a class="cart btn" data-doc="<%= items[i]._id %>">add to cart</a>
      <span class="price"> ₹<%= items[i].price %></span>
    </div>
    <% } %>
  </div>
</section>

<!-- dishes section ends -->

<!-- about section starts -->

<section class="about" id="about">
  <h3 class="sub-heading">why choose us</h3>
  <h1 class="heading">about us</h1>

  <div class="row">
    <div class="image">
      <img src="/images/about-us.png" alt="" />
    </div>

    <div class="content">
      <h3>best food in country</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam laborum
        nihil magni ut officiis deserunt eligendi minima. Ratione tempore, et
        esse, minus a sapiente necessitatibus quibusdam iusto rem obcaecati
        eveniet?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
        deserunt dignissimos reprehenderit architecto officia quod alias sint
        veniam fugit tempora!
      </p>
      <div class="icons-container">
        <div class="icons">
          <i class="fas fa-shipping-fast"></i>
          <span>free delivery</span>
        </div>
        <div class="icons">
          <i class="fas fa-dollar-sign"></i>
          <span>easy payments</span>
        </div>
        <div class="icons">
          <i class="fas fa-headset"></i>
          <span>24/7 service</span>
        </div>
      </div>
      <a href="#" class="btn">learn more</a>
    </div>
  </div>
</section>

<!-- about section ends -->

<!-- review sections starts -->

<section class="review" id="review">
  <h3 class="sub-heading">Customer Review</h3>
  <h1 class="heading">what they say</h1>

  <div class="swiper review-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="/images/user-1.jpg" alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
            </div>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eveniet
          laborum ipsa quas perferendis. Minus molestiae tempore non atque
          nesciunt dolorem iusto accusantium, explicabo exercitationem nam
          distinctio debitis expedita odio!
        </p>
      </div>

      <div class="swiper-slide slide">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="/images/user-2.jpg" alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
            </div>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eveniet
          laborum ipsa quas perferendis. Minus molestiae tempore non atque
          nesciunt dolorem iusto accusantium, explicabo exercitationem nam
          distinctio debitis expedita odio!
        </p>
      </div>

      <div class="swiper-slide slide">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="/images/user-3.jpg" alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
            </div>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eveniet
          laborum ipsa quas perferendis. Minus molestiae tempore non atque
          nesciunt dolorem iusto accusantium, explicabo exercitationem nam
          distinctio debitis expedita odio!
        </p>
      </div>

      <div class="swiper-slide slide">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="/images/user-4.jpg" alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
            </div>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eveniet
          laborum ipsa quas perferendis. Minus molestiae tempore non atque
          nesciunt dolorem iusto accusantium, explicabo exercitationem nam
          distinctio debitis expedita odio!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- review sections ends -->

<%- include("footer"); %>
